@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

@theme {
  --color-primary: #1c98ed;
  --color-btnhover: rgb(71, 165, 227);
  --color-secondary: #f9f9f9;
  --color-statistics: #add8e6;
  --color-statistics-text: #253743;
  --color-icon: #324e4c;
  --color-about-bg: #f1f5f9;
  --color-text-muted: #7d7987;
  --color-overlay: #add8e6;
  --color-contact: #34425c;
  --color-contact-text: #54727c;
  --color-blog-bg: #f1f5f9;
  --color-contact-bg: #add8e6;
  --color-service-bg: #e1faff;
  --font-poppins: Poppins, sans-serif;
  --text-primary: #1c98ed;
}

.blog img {
  object-fit: cover;
  max-height: 380px;
}
